// primary colors
$primary-50: #e1f4fd;
$primary-100: #b2e3fa;
$primary-200: #80d1f7;
$primary-300: #4dbff3;
$primary-400: #28b1f1;
$primary-500: #02a3ee; // primary color
$primary-600: #0396df;
$primary-700: #0383cb;
$primary-800: #0272b7;
$primary-900: #025295;

// secondary
$secondary-50: #fff3e0;
$secondary-100: #ffe0b2;
$secondary-200: #ffcc7f;
$secondary-300: #ffb74c;
$secondary-400: #ffa624;
$secondary-500: #ff9700;
$secondary-600: #ff8b00;
$secondary-700: #fd7a00;
$secondary-800: #f76a01;
$secondary-900: #ee4d02; // prim sec color

// blue-grey
$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;


